---
---

<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 

	<title>About</title>

	<link rel="icon" href="../images/favicon-32x32.png" type="image/png"/>

	<script type="text/javascript" src="../cslEditorLib/external/require-jquery.js"></script>
	<script>
		require.config({
			baseUrl: "../cslEditorLib",
			urlArgs : "bust=$GIT_COMMIT"
		});
		// load the appropriate page
		requirejs(['src/config'], function () {
			require(['../src/aboutPage'], function () {});
		});
	</script>
	<script type="text/javascript" src="../src/analytics.js"></script>

	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.9.1/themes/ui-lightness/jquery-ui.css">
	<link rel="stylesheet" href="../cslEditorLib/css/base.css?bust=$GIT_COMMIT" />
<style>
body {
	min-width: 960px;
}

.column {
	float: left;
	width: 33%;
	margin-bottom: 30px;
}

.column .padding {
	margin-right: 30px;
}

.first .padding {
	margin-left: 30px;
}

#styleNameInput {
	box-sizing: border-box;
	padding: 30px 20px;
	background: #eeeeee;
	border-bottom: 1px solid #c3c3c3;
	text-align: center;
}

#styleNameInput input[type=text] {
	width: 100%;
	max-width: 500px;
	border: 1px solid #999;
	border-radius: 50px;
	font-size: 14px;
	font-weight: normal;
	margin-left: 0px;
	padding: 0.2em 0.8em;
	line-height: 19px;
	-webkit-appearance: none;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

#styleNameInput input[type=text]:focus {
	box-shadow: 0 0 5px 0px rgba(0,136,204,0.5), inset 0 1px 2px rgba(0,0,0,0.2);
	border: 1px solid #2f87e0;
}

.calloutRow {
  clear: both;
  display: block;
  margin: 0;
  background: #fdf9c6;
  border-top: 1px solid #cecbaa;
  padding: 10px 20px;
}

.callout {
  max-width:750px;
  margin:auto;
  text-align:left;
}

</style>
</head>
<body id="about">
{% include navigation.html %}
<div id="styleNameInput">
	<div class="lead">Find and edit <a href="http://citationstyles.org/">CSL</a> citation styles
  </div>
  <input type="text" id="styleNameQuery" autocomplete="off" placeholder="Search..." autofocus="autofocus" />
  <div class="help">Search for the name of a style, the title of a Journal, or <a href="../searchByExample/">search by example</a>.
  </div>
</div>

<div class="column first">
  <div class="padding">
    <h2>1. Find a style</h2>
    <h3><a href="../searchByName">Search by name</a></h3>
    <p>
      If you're looking for a style like APA, Harvard, etc... just use the search box at the top of the page to search for a style name, or journal title.
    </p>

    <h3><a href="../searchByExample">Search by example</a></h3>
    <p>
      If you don't know the name of the style, but know what the final citation should look like, you can use our <a href="../searchByExample/">search by example</a> tool to find styles that most closely match.
    </p>

    <a href="../searchByExample/" class="fig"><img src="../images/search-by-example.png"></a>
  </div>
</div>

<div class="column">
  <div class="padding">
    <h2>2. Edit the style</h2>
    <p>
      If you can't find a style that quite suits your needs, find one that's a pretty close match and click the "Edit style" button to open that style in the <a href="../visualEditor">visual editor</a>.
    </p>
    <a href="../searchByExample/" class="fig"><img src="../images/edit-style.png"></a>
  </div>
</div>

<div class="column last">
  <div class="padding">
    <h2>3. Use the style</h2>
    <p>
      Once you've found a style that's suitable for you to use, simply click the "Install" button on the search results, or "Save" a style you've edited, to use it in your reference manager.
    </p>
  </div>
</div>

<div class="footer">
    <strong><a href="https://gitlab.com/csleditor">Source on GitLab</a></strong> <br>
    <strong><a href="../documentation/">Developer Documentation</a></strong> <br>
    <strong><a href="https://choosealicense.com/licenses/mit/">License</a></strong><br>

<strong>Attributions</strong>
    <ul>
        <li><a href="http://citationstyles.org/" rel="nofollow noreferrer noopener" target="_blank">Citation Style Language</a></li>
        <li><a href="https://github.com/citation-style-language/styles" rel="nofollow noreferrer noopener" target="_blank">CSL style repository</a></li>
        <li><a href="http://gsl-nagoya-u.net/http/pub/citeproc-doc.html" rel="nofollow noreferrer noopener" target="_blank">citeproc-js</a> (Citation formatting engine)</li>
        <li><a href="http://codemirror.net/" rel="nofollow noreferrer noopener" target="_blank">CodeMirror</a> (text editor on codeEditor page)</li>
        <li><a href="http://code.google.com/p/google-diff-match-patch/" rel="nofollow noreferrer noopener" target="_blank">diff_match_patch</a> (for calculating edit distances in Search by Example)</li>
        <li><a href="http://www.thaiopensource.com/relaxng/trang.html" rel="nofollow noreferrer noopener" target="_blank">Trang</a> (for converting schema files from .rnc to .rng)</li>
        <li><a href="http://node.js.org" rel="nofollow noreferrer noopener" target="_blank">node.js</a> (for javascript run in the build process)</li>
        <li><a href="http://www.famfamfam.com/lab/icons/silk/" rel="nofollow noreferrer noopener" target="_blank">FamFamFam Silk icons</a></li>
        <li><a href="http://p.yusukekamiyamane.com/" rel="nofollow noreferrer noopener" target="_blank">Fugue icons</a></li>
        <li><a href="http://jquery.com/" rel="nofollow noreferrer noopener" target="_blank">jQuery</a></li>
        <li><a href="https://jqueryui.com/" rel="nofollow noreferrer noopener" target="_blank">jQuery UI</a></li>
        <li><a href="http://www.jstree.com/" rel="nofollow noreferrer noopener" target="_blank">jQuery jsTree Plugin</a> (tree view on visualEditor page)</li>
        <li><a href="http://layout.jquery-dev.net" rel="nofollow noreferrer noopener" target="_blank">jQuery UI Layout Plugin</a></li>
        <li><a href="http://cherne.net/brian/resources/jquery.hoverIntent.html" rel="nofollow noreferrer noopener" target="_blank">jQuery hoverIntent Plugin</a></li>
        <li><a href="http://demos.flesler.com/jquery/scrollTo/" rel="nofollow noreferrer noopener" target="_blank">jQuery scrollTo Plugin</a></li>
        <li><a href="http://qunitjs.com/" rel="nofollow noreferrer noopener" target="_blank">QUnit</a> (javascript unit testing framework)</li>
        <li><a href="http://requirejs.org/" rel="nofollow noreferrer noopener" target="_blank">RequireJS</a> (javascript module loader)</li>
        <li><a href="http://mustache.github.com/" rel="nofollow noreferrer noopener" target="_blank">mustache</a> (used to generate HTML from templates)</li>
        <li><a href="http://code.google.com/p/pagedown/" rel="nofollow noreferrer noopener" target="_blank">pagedown</a> (used to generate source code docmentation)</li>
        <li><a href="http://xregexp.com/" rel="nofollow noreferrer noopener" target="_blank">XRegExp</a> (for unicode letter matching in the Search by Example page)</li>
        <li><a href="https://fontawesome.com/" rel="nofollow noreferrer noopener" target="_blank">FontAwesome</a></li>
    </ul>
</div>

</body>
</html>
