---
---
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 

	<title>Law Citations Editor</title>

	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.9.1/themes/ui-lightness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../cslEditorLib/external/jstree/themes/default/style.css" />
	<link rel="stylesheet" type="text/css" href="../cslEditorLib/external/fontawesome/css/fontawesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../cslEditorLib/external/fontawesome/css/fa-solid.min.css" />

	<link rel="stylesheet" type="text/css" href="../cslEditorLib/css/base.css?bust=$GIT_COMMIT" />
	<link rel="stylesheet" type="text/css" href="../cslEditorLib/css/dropdown.css?bust=$GIT_COMMIT" />
	<link rel="stylesheet" type="text/css" href="../cslEditorLib/css/lawEditor.css?bust=$GIT_COMMIT" />
	<style>
		#lawEditorContainer {
			position: absolute;
			top: 40px;
			bottom: 0px;
			left: 0px;
			right: 0px;
		}
	</style>
	<link rel="icon" href="../images/favicon-32x32.png" type="image/png"/>

	<script type="text/javascript" src="../cslEditorLib/external/require-jquery.js"></script>
	<script>
		require.config({
			baseUrl: "../cslEditorLib",
			urlArgs : "bust=$GIT_COMMIT"
		});
		requirejs(['src/config'], function (config, errorHandler) {
			require(['src/LawEditor'], function () {
				require(['../src/LawEditorPage'], function () {});
			});
		});
	</script>

	<script type="text/javascript" src="../src/analytics.js"></script>
</head>
<body id="lawEditor">
{% include navigation.html %}
<div id="lawEditorContainer">
</div>
</body>
</html>
