---
---
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<title>
		Developer Documentation for the CSL Law Editor
	</title>

	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.9.1/themes/ui-lightness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../cslEditorLib/external/jstree/themes/default/style.css" />
	<link rel="stylesheet" type="text/css" href="../cslEditorLib/external/fontawesome/css/fontawesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../cslEditorLib/external/fontawesome/css/fa-solid.min.css" />

	<link rel="stylesheet" type="text/css" href="../cslEditorLib/css/base.css?bust=$GIT_COMMIT" />
	<link rel="stylesheet" type="text/css" href="../cslEditorLib/css/dropdown.css?bust=$GIT_COMMIT" />
	<link rel="stylesheet" type="text/css" href="../cslEditorLib/css/lawEditor.css?bust=$GIT_COMMIT" />
	<style>
		#documentationContainer {
			top: 40px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			height:100%;
			width:100%;
		}
	</style>
	<link rel="icon" href="../images/favicon-32x32.png" type="image/png"/>
	<script>
		function replaceLinks() {
				var links = document.getElementById("doc_ifrm").contentDocument.links;
				for (var i = 0, linksLength = links.length; i < linksLength; i++) {
					if (links[i].hostname != window.location.hostname) {
						links[i].target = "_blank";
						links[i].setAttribute("rel", "noopener noreferrer");
						links[i].className += " externalLink";
					} else {
						links[i].className += " localLink";
					}
				}
		};
	</script>

</head>
<body id="documentation">

{% include navigation.html %}
<div id="documentationContainer">
	<iframe id="doc_ifrm" style="border:none; height:100%;width:100%;" src="../cslEditorLib/documentation/index.html" onload="replaceLinks()"> </iframe>
</div>
</body>
</html>
